@model IEnumerable<Task01.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeveloperCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </th>
        <th></th>
    </tr>
    @{
        int rowNum = 0;
        string className;

        foreach (var item in Model)
        {

            if (rowNum % 2 == 0)
            {
                className = "alert-cell-alt-first";
            }
            else
            {
                className = "alert-cell-alt-second";
            }

            <tr class="@className">
                <td>
                    @(++rowNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectManager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProjectID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })
                </td>
            </tr>
        }
    }
</table>
